#root {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  min-height: 100vh;
  background: url(./components/assets/img/bg.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: start center;
  width: 100vw;
}