* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.adminPanel-info-container {
    width: 100%;
    min-height: 100vh !important;
    background: #fff;
}

.fila {
    height: 50px;
}

.fila:hover {
    background: #dddddd;
    cursor: pointer;
}

.mt-10 {
    margin-top: 10rem;
}