.cards-container {
    padding: 0;
    margin: 0 auto;
    box-sizing: border-box;
    
    max-width: 100vw;
    background: #fff;

    /* border: 1px solid #ff0000; */
    overflow-x: hidden !important;
}

.card {
    /* border: 1px solid #ff0000; */
    box-shadow: #c1c1c1 0 0 10px 0;
}

.mt-10 {
    margin-top: 10rem !important;
}